
*{
	margin: 0;
	padding:0;
}
.container{
	height: 100vh;
	width: 100%;
	background-image: url("images/background.jpg");
	background-position: center;
	background-size: cover;
	padding-left: 5%;
	padding-right: 5%;
	box-sizing: border-box;
	position: relative;
}
.navbar{
	height: 15vh;
	width: 100%;
	margin: auto;
	display: flex;
	align-items: center;
	text-align: center;
font-family: 'Roboto', sans-serif;


}

.github{
	width = 40px;
	cursor: pointer;
	padding: 40px;


}
.linkedin{
	width=40px;
	cursor: pointer;
	padding: 20px;
}

h1{
	text-align: left;
	font-family: 'Roboto', sanf-serif;
}
h2{
	display: inline-block;
	text-align: center;
}
 nav{
	flex:1;
	padding-left:60px;
	font-family: 'Roboto', sans-serif;
}
nav ul li{
	display: inline-block;
	list-style: none;
	margin: 0px 20px;
}

nav ul li a{
	text-decoration: none;
	color: #333;
	
	font-size: 40;
}

